__pycache__
.coverage
.cursor
.DS_Store
.env
.env.example
.envrc
.git
.gitattributes
.github
.gitignore
.pytest_cache
.python-version
.ruff_cache
.venv
*.code-workspace
*.pyc
*.pyd
*.pyo
*.pyw
*.pywz
*.pyz
*.pyzw
CONTRIBUTING.md
defaults.mk
docker-compose.yml
Makefile
node_modules
README.md
TODO.md
